{{>head}}
<body id="password">
{{>header-nav}}

<div class="row">
	<div class="col-sm-3">
		{{>nav-left}}
	</div>

	<div class="col-sm-9">
			<div class="panel-body">

				<form class="form">
					<div class="form-group">
						<label for="old">原密码</label>
						<input type="password" class="form-control" id="old" name="old">
					</div>
					<div class="form-group">
						<label for="new">新密码</label>
						<input type="password" class="form-control" id="new" name="new">
					</div>
					<div class="form-group">
						<label for="repeat">再次输入</label>
						<input type="password" class="form-control" id="repeat" name="repeat">
					</div>
					<div class="form-group">
							<div class="alert alert-danger" style="display: none;"></div>
							<div class="alert alert-success" style="display: none;"></div>
					</div>
					<div class="form-group">
							<button type="button" class="btn btn-default" onclick="updatePass()">保存</button>
					</div>

				</form>
			</div>
	</div>

</div>
<script src='/static/javascripts/post.js'></script>
</body>
</html>